h2 {
    text-align: center;
    &.reload__text {
        font-size: 2rem;
    }
}

li {
    list-style-type: square;
    margin-left: -5%;
    &, p {
        line-height: 1.5;
    }
}

a {
    color: $second-clr;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        font-weight: bolder;
    }
}

.bold {
    font-weight: bold;
}

.choosen-instructions {
    color: $first-clr;
}